tutorMe/.vs/tutorMe/v15/sqlite3/storage.ide
tutorMe/WebApplication5/obj/Debug/WebApplication5.pdb
tutorMe/WebApplication5/obj/Debug/TutorMe.csprojResolveAssemblyReference.cache
tutorMe/WebApplication5/obj/Debug/TutorMe.csproj.CoreCompileInputs.cache
*.cache
tutorMe/WebApplication5/obj/Debug/TutorMe.csproj.FileListAbsolute.txt
*.dll
*.config
tutorMe/.vs/tutorMe/v15/.suo
*.pdb
tutorMe/.vs/tutorMe/v15/.suo
*.ide

tutorMe/\.vs/tutorMe/v15/
tutorMe/packages/Microsoft.Web.Infrastructure.1.0.0.0/tools/Install.ps1
*.cache
*.config
tutorMe/.vs/tutorMe/v15/.suo
*.config
tutorMe/.vs/tutorMe/v15/.suo
*.config

tutorMe/WebApplication5/TutorMe\.csproj\.user

tutorMe/WebApplication5/bin/roslyn/VBCSCompiler\.exe
