html{
	height:100%; 
}
body{
	height:100%;
	position: relative;
}
.dropdown-submenu {
	border-bottom: 1px solid #ccc;
}
#mn-wrapper {
  display: table;
  width: 100%;
  position: absolute;
	height: 100%;
}
.mn-sidebar {
  display: table-cell;
  position: relative;
  vertical-align: top;
  padding-bottom: 49px;
	background: #272930;
	width: 216px;
	z-index: 2;
}
#mn-cont {
  display: table-cell;
	vertical-align: top;     
 	position: relative;
	padding: 0;
}
.container {
	margin-right: auto;
}
.cnt-mcont {
  background-color: #F6F6F6;
  color: inherit;
	font-size: 14px;
	font-family: Helvetica;
  font-weight: 200;
  line-height: 21px;
  padding: 15px 30px 30px 250px;
  margin-top: 0;
	height: 101vh;
}
.mn-sidebar .mn-toggle {
  display: none;
  padding: 10px 0;
  text-align: center;
	cursor: pointer;
}
.mn-vnavigation {
  margin: 0 0 0 0;
  padding: 0;
  border-top: 1px solid #1a1c20;
	border-bottom: 1px solid #2f323a;
}
.mn-vnavigation li a {
  border-top: 1px solid #32353e;
  border-bottom: 1px solid #1a1c20;
  display: block;
  padding: 14px 18px 13px 15px;
  color: #fff;
	text-decoration: none;
	font-family: Helvetica;
  font-size: 14px;
  font-weight: 300;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
	white-space: nowrap;
}
.dropdown-submenu >
.dropdown-menu {
	top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  height: 101vh;
  width: 216px;
  background: #272930;
}
.dropdown-submenu:onClick > 
.dropdown-menu {
	display: block;
}
.dropdown-submenu > a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #ccc;
	margin-top: 5px;
	margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
	border-left-color: #fff;
}
.dropdown-submenu.pull-left {
	float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}
ul {
	list-style: none;
}
ul.dropdown-menu.parent {
  margin-top: -1px;
}
.bottom-mn {
	bottom:0px; 		
	position:absolute;
	width:100%;
	padding-bottom: 5px;
}